@model BSG.ADInventory.Models.Township.TownshipCEDTO
@using BSG.ADInventory.Resources
@{ViewBag.EntityName = "Township";}
@using (Ajax.BeginForm("SetCrudAction", "Township", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = ViewBag.EntityName }))
{
    <div id= "@ViewBag.EntityName">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.Partial("CreateOrEdit", Model)
        </div>
    </div>

}


