<footer class="main-footer">
    <strong><img  src="~/Images/Public/Logo/BSsmallLogo.png" style="width:15px;"/> <small>تمامی حقوق برای <a href="https://bidarsoft.com">تیم توسعه نرم‌افزار <b>بیـــدار</b></a> محفوظ است.</small></strong>
    <div class="float-left d-none d-sm-inline-block">
        <small>نسخه آزمایشی <b>401.1.1</b> </small>
    </div>
</footer>