@model BSG.ADInventory.Models.Account.ChangePasswordModel
@using BSG.ADInventory.Resources
<section class="content" style="padding-top:10px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="overlay-wrapper hidden" id="overly-loading-@ViewBag.EntityName">
                    <div class="overlay flex-column"><i class="fad fa-2x fa-spinner fa-spin"></i><div class="pt-2">@Resource.Loading</div></div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <div class="row ">
                            <div class="col-md-3" id="card-title"><h4 class="card-title float-right"><i class="fad fa-key fa-lg"></i> @Resource.ChangePassword</h4></div>
                            <div class="col-md-9" id="card-buttons-@ViewBag.EntityName">
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="overflow-x:hidden">
                        @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "partialForm" }))
                        {
                            <div id="partialForm">
                                <div class="form-horizontal">                                    
                                    @Html.Partial("ChangePasswordData", Model)
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
