<footer class="main-footer">
    <strong><img  src="~/Images/Public/Logo/BSsmallLogo.png" style="width:15px;"/> <small>تیم توسعه نرم‌افزار <a href="https://ttzco.com.com"><b class="text-blue">بیــدار</b></a> .</small></strong>
    <div class="float-left d-none d-sm-inline-block">
        <small>نسخه  <b>403.1.1</b> </small>
    </div>
</footer>