@model BSG.ADInventory.Models.MatOrder.MatOrderConfirmModel
@using BSG.ADInventory.Resources
@{ViewBag.EntityName = "MatOrderConfirm";}

@using (Ajax.BeginForm("ConfirmOrder", "MatOrder", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "partialForm" }))
{
    <div id="partialForm">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Partial("ConfirmOrderDetail", Model)
        </div>
    </div>

}
