@model BSG.ADInventory.Models.ProjectDetail.ProjectDetailCEDTO
@using BSG.ADInventory.Resources
@{ViewBag.EntityName = "ProjectDetail";}

@using (Ajax.BeginForm("SetCrudAction", "ProjectDetail", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = ViewBag.EntityName }))
{
    <div id="@ViewBag.EntityName">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.Partial("CreateOrEdit", Model)
        </div>
    </div>

}
